{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="col">
    <div class="row">
        {% if user.is_authenticated %}
         <meta http-equiv="refresh" content="0; url=http://127.0.0.1:8000/" />
        {% endif %}
  <h2>Log in to My Site</h2>
    </div>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form class="form-control" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p class="row">

        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
  <div class="row">
    <button type="submit">Log in</button>
    <a href="{% url 'signup' %}">Sign up</a>
  </div>
  </form>
    </div>
    </div>
{% endblock %}
